Ebay Store/~$eBay-ListingsSalesReport-Jun-03-2023-09_37_59-0700-11100729200.xlsx
Ebay Store/Category_Sales_2022-12-01_2023-06-02_1685810733638.csv
Ebay Store/data.csv
Ebay Store
Ebay Store/Ebay Store Sales Dashboard Version 2pbix.pbix
Ebay Store/Ebay Store Sales Dashboard.pbix
Ebay Store/eBay-ListingsSalesReport-Jun-03-2023-09_37_59-0700-11100729200.xlsx
Ebay Store/eBay-ListingsSalesReport.csv
Ebay Store/Merged_Ebay_Store_Data
Ebay Store/Purchase History CURRENT_YEAR_formatted.csv
Ebay Store/Purchase History CURRENT_YEAR.xlsx
Ebay Store/Purchase History.csv
~$Background For Power BI Project - CUSTOM backgrounds.pptx
Background For Power BI Project - CUSTOM backgrounds.pptx
Background For Power BI Project.pptx
SQL Practice/sales-data-analysis-report.ipynb
Fundamentals Of Statistics For Data Scientists and Analysts _ by Tatev Karen Aslanyan _ Towards Data Science.pdf
Ebay Store/COGS_other.csv
Ebay Store/COGS.csv
